<div class="depth-chart">
  <div class="cards">
    <% @positions.each do |position| %>
    <div class="card">
      <div class="card-image">
        <img src='<%= asset_path("position_#{position.id}.jpg") %>' alt="">
      </div>
      <div class="card-header">
        <%= position.name %>
      </div>
      <div class="card-copy">
        <ul class="sortable">
        <% position.get_team_players(@team).each do |player| %>
          <% player.roles.order(:depth_chart_position) %>
          <li><%= link_to "#{player.first_name}" + " " + "#{player.last_name}", show_stats_player_path(player) %></li>
        <% end %>
      </ul>
      </div>
    </div>
    <% end %>
</div>
