<div class="depth-chart">
    <% @positions.each do |position| %>
      <table class="tables">
        <thead>
          <tr>
            <th colspan="2"><%= position.name %></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="depth-position"><%= position.name %></td>
            <td class="depth-player"><% position.players.order(:depth_chart_position).each do |player| %>
              <p><%= link_to capitalize_name(player.first_name, player.last_name), show_stats_player_path(player) %></p>
                <% end %></td>
          </tr>
        </tbody>
        </table>
    <% end %>
</div>
<br>
