<p id="notice"><%= notice %></p>

<h1>Listing Positions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Player</th>
    </tr>
  </thead>

  <tbody>
    <% @positions.each do |position| %>
      <tr>
        <td><%= position.name %></td>
        <td><% position.players.each do |player| %>
          <p><%= link_to capitalize_name(player.first_name, player.last_name), show_stats_player_path(player) %></p>
            <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
