<div id="game-stats">
  <%= form_tag(make_game_stats_game_path) do %>

    <% @stat_types.each do |s| %>

      <div class="field">
        <%= label_tag s.name %>
        <%= text_field_tag "stat[#{s.id}]" %>
      </div>

    <% end %>

    <%= submit_tag "submit stats" %>

  <% end %>
</div>
