


<div id="js-parallax-window" class="parallax-window">
  <div class="parallax-static-content">
    <h1>Get an Overview of Your Team on This Page</h1>
  </div>
  <div id="js-parallax-background" class="parallax-background"></div>
</div>

<div id="stat-dashboard">


</div>


<div id="schedule-dashboard">

  <table class="tables table-homepage" >
    <thead>
      <tr>
        <th>Opponent</th>
        <th>Location</th>
        <th>Date</th>
      </tr>
    </thead>


    <tbody>
      <% Game.all.each do |game| %>
        <tr>
          <td> <%= game.opponent %> </td>
          <td> <%= game.location %> </td>
          <td> <%= game.time %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>


</div>


