.itinerary-container {
	margin: 0 auto;
	@include position(relative, null null null 20px);
	#itinerary-button{
	@include span-columns(12);
	@include shift(5);
	padding-top: 20px;
}
}

.a-card {
	@include size(400px 200px);
	border-style: solid;
	border-width: 1px;
	border-color: #e3e3e3;
	border-radius: 3px;
	float: left;
	@include margin(20px 20px null null);
	overflow: scroll;
	background-color: white;
	.aheader {
		width: 398px;
		position: absolute;
		border-bottom: solid;
		border-width: 1px;
		border-color: #e3e3e3;
		z-index: 99;
		overflow: hide;
		background: #45b6c3;
		h1 {
			font-size: 30px;
			color: whitesmoke;
			padding-left: 5px;
			margin-top: 0;
			margin-bottom: 0;
			/* position:absolute; */
			a {
				color:whitesmoke;
			}
			.right-icon {
				float: right;
				vertical-align: middle;
				font-size: .75em;
				margin-top: .25em;
				margin-right: .25em;
			}

		}
		p {
			float: left;
			color: red;
		}
	}
	.somecontent {
		position: relative;
		padding-top: 5px;
		margin: 50px 5px;
		//z-index: -1;
		section {
			@include outer-container;
			aside { @include span-columns(3); }
			article { @include span-columns(9); }
		}
	}
}

