//dashboard//////////////////////////////////////////////////////
#schedule-dashboard{
	//@include outer-container();
	position: relative;
	display: inline-block;
	margin-top: 20px;
	width:100%;
	height: 500px;



	.tables.table-homepage{
		@include span-columns(4);
		margin-top: auto;
		margin-right: 30px;
		@include padding(0 null null 20px);

		tbody{
			color:whitesmoke;
			tr:hover > td, tr:hover > th {
				background-color: orange;
			}
			tr:nth-child(even) {
				background-color: #434343;
				&:hover > td {
					background-color: orange;
				}
			}
		}

	}

	.dash-table-picture{

		@include span-columns(8);
		background:
			/* top, transparent red, faked with gradient */
		linear-gradient(
				rgba(53, 149, 161, 0.5),
				rgba(53, 149, 161, 0.5)
		),
		asset_url('test_image.jpg') no-repeat fixed center center;
		background-size: 100%;
		height: 500px;
	}
}

#remember-me {
	margin-bottom: 10px;
	label {
		display: inline;
	}
}