.edit-container{
	position: relative;
	@include margin(0 auto);
	@include size(100% auto);
	color: whitesmoke;
	background-color: #383838;

	//@include span-columns(6);
	.field{
		@include position(relative, null null null 150px);
		@include outer-container();
		@include span-columns(3);
		//@include shift(1)
	}
	.actions{
		text-align: center;
		//@include position(relative null null null 150px);
		@include span-columns(12);
		//@include margin(0 auto);
		
	}

	//@include position(relative, 10px 25% );
	//@include padding(20px 100px 20px 100px);
	//@include span-columns(6);


}


.edit-container.itinerary-edition{
	width: auto;
	@include size(100% auto);
	//overflow: hide;
	//@include size(auto 800px);
	//.itinerary-field
	.itinerary-field-name{
		text-align: center;
		@include size(300px auto);
		margin: 0 auto;
	}
	.wrapper{
		text-align: center;
		.situation-fields{
			position: relative;
			display: inline-block;
			@include size(40% 100px);
			//@include position(relative, null  null null null 50px);
			//margin-left: 50px;
		}
		.itinerary-field{
			position: relative;
			//@include position(relative, null null null 150px);


		}

	}
}