#game-stats{
	//margin-top: 75px;
	.field{
		display: inline-block;
		width: 200px;
		margin: 0 auto;
		position: relative;
		left: 20px;
	}
	.team-stat-submit{
		position: relative;
		//left: 40px;
		margin: 0 auto;
	text-align: center;
	}
}