#gatekeeper {
	position: absolute;
	min-height: 100%;
	width: 100%;

}


#gatekeeper-ribbon{
	position: absolute;
	background-color: #383838;
	//margin-top: 500px;
	height: 100%;
	h2{
		padding: 0;
		margin-bottom: 10px;
	}

}

#logo{
	color: orange;
}

.home-image{
	background-color: grey;
	background:
	linear-gradient(
			rgba(53, 149, 161, 0.5),
			rgba(53, 149, 161, 0.5)
	),


	asset_url('aged_football.jpg') no-repeat fixed center center;
	background-size: cover;
	background-position: 50%;
	//height: 1000px;
	position: relative;
	//@include margin(10px);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 400px;

	button{
		@include position(relative, 10px 25% null 25% );
	}
	h1{
		//@include position(relative, 10px 250 null null );
		color:whitesmoke;
		font-size: 5em;
		//margin-top: .7em;
		//margin-left: 25%;
		//margin: .7em auto;
		text-align: center;
	}
}